[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
opencv-python = "*"
ipython = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
folium = "*"
pyyaml = "*"
scipy = "*"
scikit-image = "*"
filterpy = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
